//#include "smartwatch_nrf5340_cpuapp_common_pincontrol.dtsi"


/ {
	model = "Nordic NRF5340 DK NRF5340 Application";
	compatible = "nordic,nrf5340-dk-nrf5340-cpuapp";

	clock-frequency  = <128000000>;

	chosen {
		zephyr,display = &gc9a01;
	};

	
	lvgl_pointer_input: lvgl_pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&cst816d>;
		//swap-xy;
		//invert-x;
	};


	gpio_fwd: nrf-gpio-forwarder {
		compatible = "nordic,nrf-gpio-forwarder";
		uart{
			status = "disabled";
		};
	};

	zephyr,user {
		hr-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		extint-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		forceon-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		bl-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
	};
	
};


&uart0{
	status = "okay";
	current-speed = <9600>;
	label = "UART_0";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	/* 
	gnss: gnss-nmea-generic {
		compatible = "gnss-nmea-generic";
	};
	*/
	
};

&pwm0 {
	status = "disabled";
};


&spi4 {
	status = "disabled";
};

&led2{
	status = "disabled";
};

&spi3  {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;

	
	gc9a01: gc9a01@0 {
		compatible = "buydisplay,gc9a01";
		status = "okay";
		spi-max-frequency = <16000000>; // 16MHz
		reg = <0>;
		zephyr,display-P-width = <240>;
		zephyr,display-P-height = <240>;
		width = <240>;
		label = "buydisplay_gc9a01";
		height = <240>;
		reset-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		dc-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
	};
	
};

 
&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;
	label = "I2C_1";
	//zephyr,concat-buf-size = <128>;
	zephyr,flash-buf-max-size = < 1024 >;

	
	RV3028C7: RV3028C7@52 { // OR 36
        compatible = "microcrystal,RV3028C7";
        reg = <0x52>;
        label = "microcrystal,RV3028C7";
		clk-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
    };
	 
	lis2mdl@30 {
        compatible = "st,lis2mdl";
        reg = <0x30>;
        label = "st,lis2mdl";
    };
	bmi270@68 {
		compatible = "bosch,bmi270";
		reg = < 0x68 >;
		label = "bosch_bmi270";
	};
	
	max17048@36 {
		compatible = "maxim,max17048";
		reg = <0x36>;
	};
	
};



&i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;
	label = "I2C_2";


	max30101@57 {
		compatible = "maxim,max30101";
		reg = <0x57>;
		label = "maxim_max30101";
	};

	
	cst816d: cst816d@15 {
        compatible = "hynitron,cst816d";
        reg = <0x15>;
        irq-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
        rst-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
    };
	
};


